<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
  <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <title>Green </title>

</head>

<body>
  <div class="Menu">
    <nav class="navbar navbar-expand navbar-light">
      <a class="navbar-brand" href="index.html"><img src="/img/leaficon.jpg" style="width: 40px;" alt=""> </a>
      <a class="navbar-brand" href="index.html">GreenLeaf </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <form class="searchform">
              <div class="form-group has-search">
                <button id="searchButton" type="submit" class="fa fa-search form-control-feedback"></button>
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav justify-content-end" id="accountLinks">
          <li class="nav-item">
            <i class="fa fa-shopping-cart"></i>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="registerLink" data-toggle="modal" data-target="#registerModal">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="loginLink" data-toggle="modal" data-target="#loginModal">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="registerModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Sign up</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="form-row">
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginFirstName">First Name</label>
                    <input type="text" class="form-control form-control-sm" id="loginFirstName" placeholder="First Name"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginLastName">Last Name</label>
                    <input type="text" class="form-control form-control-sm" id="loginLastName" placeholder="Last Name"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginEmail">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="loginEmail" placeholder="Email"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginPhoneNumber">Phone Number</label>
                    <input type="email" class="form-control form-control-sm" id="loginPhoneNumber"
                      placeholder="Phone Number (Optional)">
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginPassword">Password</label>
                    <input type="password" class="form-control form-control-sm" id="loginPassword"
                      placeholder="Password" required>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label"> Remember me</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Login</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="form-row">
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginEmail">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="loginEmail" placeholder="Email">
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginPassword">Password</label>
                    <input type="password" class="form-control form-control-sm" id="loginPassword"
                      placeholder="Password">
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label"> Remember me</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-sm ml-1">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="checkout">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">My Cart</span>
        <span class="badge badge-secondary badge-pill">2</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Venus Fly Trap</h6>
            <small class="text-muted">Exotics</small>
          </div>
          <span class="text-muted">$9.99</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Lavender</h6>
            <small class="text-muted">Perennials</small>
          </div>
          <span class="text-muted">$9.99</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$19.98</strong>
        </li>
      </ul>

      <form class=" p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="checkout">
    <div class="col-md-5 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="username" placeholder="Username" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">Choose...</option>
              <option>United States</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" id="state" required>
              <option value="">Choose...</option>
              <option>Virginia</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
            address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Debit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">PayPal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-success btn-lg btn-block" type="submit">Place your order</button>
      </form>
    </div>
  </div>



  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-4 col-sm-2 offset-1">
          <ul class="list-unstyled">
            <li><a href="index.html" class="btn btn-link">Home</a></li>
            <!-- <li><a href="#" class="btn btn-link">About</a></li> -->
            <li><a href="#" class="btn btn-link">Contact</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-5 text-center">
          <h5>Social</h5>
          <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
          <a class="btn btn-social-icon btn-facebook" href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="col-sm-4 text-center">
          <a role="button" class="btn btn-link" href="tel:+12345678910"><i class="fa fa-phone"></i>
            1-234-567-8910</a><br />
          <a role="button" class="btn btn-link" href="mailto:cannonj55@gmail.com"><i class="fa fa-envelope-o"></i>
            cannonj55@gmail.com</a>
        </div>
      </div>
    </div>
  </footer>



  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>