<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
  <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <title>Green </title>

</head>

<body>
  <div class="Menu">
    <nav class="navbar navbar-expand navbar-light">
      <a class="navbar-brand" href="index.html"><img src="/img/leaficon.jpg" style="width: 40px;" alt=""> </a>
      <a class="navbar-brand" href="index.html">GreenLeaf </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <form class="searchform">
              <div class="form-group has-search">
                <button id="searchButton" type="submit" class="fa fa-search form-control-feedback"></button>
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav justify-content-end" id="accountLinks">
          <li class="nav-item">
            <a class=" fa fa-shopping-cart" data-toggle="modal" data-target="#modalCart"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="registerLink" data-toggle="modal" data-target="#registerModal">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" id="loginLink" data-toggle="modal" data-target="#loginModal">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="registerModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Sign up</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="form-row">
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginFirstName">First Name</label>
                    <input type="text" class="form-control form-control-sm" id="loginFirstName" placeholder="First Name"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginLastName">Last Name</label>
                    <input type="text" class="form-control form-control-sm" id="loginLastName" placeholder="Last Name"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginEmail">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="loginEmail" placeholder="Email"
                      required>
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginPhoneNumber">Phone Number</label>
                    <input type="email" class="form-control form-control-sm" id="loginPhoneNumber"
                      placeholder="Phone Number (Optional)">
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginPassword">Password</label>
                    <input type="password" class="form-control form-control-sm" id="loginPassword"
                      placeholder="Password" required>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label"> Remember me</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success btn-sm ml-1">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Login</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                <div class="form-row">
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginEmail">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="loginEmail" placeholder="Email">
                  </div>
                  <div class="form-group col-12">
                    <label class="sr-only" for="loginPassword">Password</label>
                    <input type="password" class="form-control form-control-sm" id="loginPassword"
                      placeholder="Password">
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label"> Remember me</label>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success btn-sm ml-1">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">My cart</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Venus Fly Trap</td>
                  <td>$9.99</td>
                  <td><a><i class="fa fa-times"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Lavender</td>
                  <td>$9.99</td>
                  <td><a><i class="fa fa-times"></i></a></td>
                </tr>
                <tr class="total">
                  <th scope="row"></th>
                  <td>Total</td>
                  <td>$19.98</td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="checkout.html" class="btn btn-success">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 id="subtitle">Ferns</h1>

  <div class="row">
    <div class="card col-12 col-sm-9 col-md-3">
      <img src="img/ladyfern.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="">
          <h4 class="card-title">Lady</h4>
        </a>
        <p class="card-text d-none d-sm-block">Lady ferns thrive in shade and moist soil. While it is true that these
          ferns prefer to be kept in moist conditions, they are actually fairly drought-tolerant once mature. </p>
        <h6 class="price">$9.99</h6><button class="btn btn-success">Add to Cart</button>
      </div>

    </div>


    <div class="card col-12 col-sm-9 col-md-3">
      <img src="img/kangaroopaw.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="">
          <h4 class="card-title">Kangaroo Paw</h4>
        </a>
        <p class="card-text d-none d-sm-block">The kangaroo paw fern is an interesting plant; it can be epiphytic,
          growing in crevices of rocks or on tree trunks, but it can also be grown in soil. </p>
        <h6 class="price">$9.99</h6><button class="btn btn-success">Add to Cart</button>

      </div>
    </div>


    <div class="card col-12 col-sm-9 col-md-3">
      <img src="img/staghorn.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="">
          <h4 class="card-title">Staghorn</h4>
        </a>
        <p class="card-text d-none d-sm-block">These unique ferns are often looked upon as living art rather than as
          houseplants. The unusual foliage bears a resemblance to those of the staghorn.</p>
        <h6 class="price">$9.99</h6><button class="btn btn-success">Add to Cart</button>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="card col-12 col-sm-9 col-md-3">
      <img src="img/crocodile.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="">
          <h4 class="card-title">Crocodile</h4>
        </a>
        <p class="card-text d-none d-sm-block">This tropical fern has mid-green leaves with dark green veining with an
          unusual texture that is said to resemble crocodile skin. </p>
        <h6 class="price">$9.99</h6>
        <button class="btn btn-success">Add to Cart</button>

      </div>
    </div>


    <div class="card col-12 col-sm-9 col-md-3">
      <img src="img/boston.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="">
          <h4 class="card-title">Boston</h4>
        </a>
        <p class="card-text d-none d-sm-block">Also known as sword fern, it is one of the most popular ferns to be kept
          as a houseplant. Ideal for use as a houseplant.</p>
        <h6 class="price">$9.99</h6><button class="btn btn-success">Add to Cart</button>

      </div>
    </div>


    <div class="card col-12 col-sm-9 col-md-3">
      <img src="img/maidenhair.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="">
          <h4 class="card-title">Maidenhair</h4>
        </a>
        <p class="card-text d-none d-sm-block">These delicate-looking ferns feature lots of small leaflets on compound
          leaves. They are varying shades of green.</p>
        <h6 class="price">$9.99</h6><button class="btn btn-success">Add to Cart</button>
      </div>
    </div>


  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-4 col-sm-2 offset-1">
          <ul class="list-unstyled">
            <li><a href="#" class="btn btn-link">Home</a></li>
            <!-- <li><a href="#" class="btn btn-link">About</a></li> -->
            <li><a href="#" class="btn btn-link">Contact</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-5 text-center">
          <h5>Social</h5>
          <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
          <a class="btn btn-social-icon btn-facebook" href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="col-sm-4 text-center">
          <a role="button" class="btn btn-link" href="tel:+12345678910"><i class="fa fa-phone"></i>
            1-234-567-8910</a><br />
          <a role="button" class="btn btn-link" href="mailto:cannonj55@gmail.com"><i class="fa fa-envelope-o"></i>
            cannonj55@gmail.com</a>
        </div>
      </div>
    </div>
  </footer>



  <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>